.slider{
  position: relative;

  &__container{
    position: relative;
    overflow: hidden;
  }

  &__slides{
    display: flex;

    .swiper-container-autoheight &{
      align-items: flex-start;
      transition-property: transform,height;
    }
  }

  &__slide{
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;

    .swiper-container-autoheight &{
      height: auto;
    }

    .swiper-container-fade & {
      pointer-events: none;
      transition-property: opacity;
    }
  }

  &__nav{
    display: flex;

    &__arrow{
      display: block;
      width: PXtoREM(36);
      height: PXtoREM(36);
      position: relative;
      transition: $transition;
      &.swiper-button-disabled{
        opacity: 0;
        visibility: hidden;
      }

      &:before,
      &:after{
        content: '';
        display: block;
        width: 50%;
        height: 1px;
        background-color: black;
        position: absolute;
        top: 50%;
        left: 25%;
        transition: $transition;
      }
      &:hover:before,
      &:hover:after{
        @media #{$isHover} {
          background-color: blue;
        }
      }
      &:active:before,
      &:active:after{
        background-color: blue;
      }

      &._prev{

        &:before,
        &:after{
          transform-origin: top left;
        }
        &:before{
          transform: rotate(-45deg);
        }
        &:after{
          transform: rotate(45deg);
        }
      }

      &._next{

        &:before,
        &:after{
          transform-origin: top right;
        }
        &:before{
          transform: rotate(-45deg);
        }
        &:after{
          transform: rotate(45deg);
        }
      }
    }
    &._horizontal &__arrow{
      position: absolute;
      z-index: 1;
      top: 50%;
      margin-top: PXtoREM(-18);

      &._prev{
        left: PXtoREM(-32);
      }

      &._next{
        right: PXtoREM(-32);
      }
    }
  }

  &__pagination-bullets{
    display: flex;
    justify-content: center;
    margin: PXtoREM(16) 0 0 0;
  }
  &__pagination-bullet{
    display: block;
    width: PXtoREM(8);
    height: PXtoREM(8);
    border-radius: 50%;
    background: black;
    transition: $transition;
    margin: 0 PXtoREM(8);
    cursor: pointer;
    &._active{
      background: blue;
    }
  }

  &__scrollbar{
    position: relative;
    margin-top: PXtoREM(16);
    background-color: rgba(black, .5);

    &__drag{
      height: PXtoREM(4);
      background-color: blue;
      cursor: pointer;
    }
  }
}