//@import "./select";
//@import "./range";
//@import "./checkbox-radio";
//@import "./file";

.form-item{
  position: relative;
  margin: PXtoREM(16) 0;
  @include first-last-vertical;
  @media #{$min_w768} {
    margin: PXtoREM(24) 0;
  }

  input[type=text],
  input[type=tel],
  input[type=email],
  input[type=password] {
    &::-ms-clear, &::-ms-reveal {
      display: none;
    }
    appearance: none;
    outline: none;
    display: block;
    width: 100%;
    font-size: PXtoREM(16);
    color: $colorBlack;
    padding: PXtoREM(12) PXtoREM(16) 0;
    font-family: inherit;
    font-weight: inherit;
    background: $colorInputBg;
    border: 1px solid $colorInputBg;
    border-radius: PXtoREM(8);
    height: PXtoREM(56);
    text-align: left;
    transition: $transition;

    @media #{$min_w768} {
      height: PXtoREM(68);
      padding-top: PXtoREM(16);
    }

    .form-white &{
      background-color: white;
      border-color: white;
    }

    &::placeholder{
      color: $colorBlack;
    }

    &:focus{
      border-color: $colorGray;
      .form-white &{
        border-color: $colorBlack;
      }
    }

    &[readonly]:not(.datepicker){}
  }
  &._error input[type=text],
  &._error input[type=tel],
  &._error input[type=email],
  &._error input[type=password]{
    border-color: $colorRed!important;
    background: #FFF2F2!important;
  }

  textarea{
    appearance: none;
    outline: none;
    resize: none;
    display: block;
    width: 100%;
    color: $colorBlack;
    font-size: PXtoREM(16);
    font-family: inherit;
    border: 1px solid $colorInputBg;
    border-radius: PXtoREM(8);
    background: $colorInputBg;
    padding: PXtoREM(32) PXtoREM(16) PXtoREM(16);
    transition: $transition;
    .form-white &{
      background-color: white;
      border-color: white;
    }
    &::placeholder{
      color: $colorBlack;
    }
    &:focus{
      outline: none;
      border-color: $colorGray;
      box-shadow: 1px 1px 0 0 $colorGray;
      .form-white &{
        border-color: $colorBlack;
      }
    }
  }
  &._error textarea{
    border-color: $colorRed;
    background: #FFF2F2;
  }

  &__label{
    display: block;
    position: absolute;
    font-size: PXtoREM(16);
    color: $colorBlueDark;
    opacity: .4;
    top: 0;
    left: 0;
    white-space: nowrap;
    padding: PXtoREM(17) PXtoREM(16) 0;
    transition: $transition;
    pointer-events: none;
    @media #{$min_w768} {
      padding-top: PXtoREM(24);
    }
    &._static{
      position: relative;
      top: auto;
      left: auto;
      padding: 0;
      margin-bottom: .5rem;
    }
  }
  &._not-empty &__label:not(._static){
    font-size: PXtoREM(12);
    padding-top: PXtoREM(8);
    @media #{$min_w768} {
      padding-top: PXtoREM(14);
    }
  }

  &__error{
    font-size: PXtoREM(14);
    color: $colorRed;
    line-height: 1.4;
    display: none;
    margin-top: PXtoREM(8);
  }
  &._error &__error{
    display: block;
  }

  [type=submit]{
    appearance: none;
    outline: none;
    border: none;
    cursor: pointer;
  }
  &._submit-success{
    display: flex;
    @media #{$max_w768} {
      flex-direction: column-reverse;
      align-items: flex-start;
    }
    @media #{$min_w768} {
      align-items: center;
      margin-top: PXtoREM(32);
    }

    .btn{
      @media #{$max_w768} {
        margin-top: PXtoREM(32);
      }
      @media #{$min_w768} {
        margin-right: PXtoREM(32);
        flex-shrink: 0;
      }
    }
  }
}

.form-require-note{
  font-size: 9px;
  line-height: 12px;
  color: rgba(black, .5);
  &.color-white{
    opacity: .5;
  }

  .form-item + &{
    margin-top: PXtoREM(-8);
  }

  + .form-item{
    margin-top: PXtoREM(40);
  }
}

.style-blue-form{
  position: relative;

  &:before{
    content: '';
    display: block;
    position: absolute;
    top: -32px;
    left: -16px;
    width: calc(100% + 32px);
    height: calc(100% + 64px);
    background: $colorGrayBlue;
    z-index: -1;
    @media #{$min_w768} {
      width: calc(100% + 112px);
      height: calc(100% + 148px);
      top: -74px;
      left: -56px;
      border-radius: PXtoREM(16);
    }
  }
}